* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 70px;
    display: flex;
    line-height: 70px;
    color: white;
    background-color: #131921;
}

.container{width: 80%;}

.logo img{
    width: 70px; color: white;
    margin: 0 10px  ;
}

.address{
    margin: 0 10px;
}