@font-face {
    font-family: "poppins";
    src: url(../Fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(../Fonts/Poppins-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background-color: #F7FBFE;
}

.align-ctr {
    align-items: center;
}

.jsc-ctr {
    justify-content: center;
}

.jsc-btwn {
    justify-content: space-between;
}

.jsc-even {
    justify-content: space-evenly;
}

.jsc-arnd {
    justify-content: space-around;
}

.jsc-end {
    justify-content: end;
}

.row {
    display: flex;
}

.col-50 {
    width: 50%;
}

.col-30 {
    width: 30%;
}


header {
    background-image: url(../Images/main\ bg.png);
    background-repeat: no-repeat;
    background-size: 58% 90%;
    background-position: center -65px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.logo h1 {
    font-family: poppins-bold;
    font-size: 30px;
    color: #FF735C;
    text-transform: uppercase;
}


.navbar li {
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-family: poppins;
    font-weight: 600;
    font-size: 20px;
    transition: all 100ms ease-in-out;
}

.navbar ul li a:hover {
    color: #1E76F5;
    /* font-size: 22px; */
    border-bottom: 2px solid #1E76F5;
}

.btn button {
    width: 100%;
    color: white;
    padding: 8px 30px;
    background: rgb(115, 172, 255);
    background: linear-gradient(87deg, rgb(77 142 237) -1%, rgb(16 70 148) 100%);
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 20px;
}

.btn button:hover {
    background: rgb(237, 125, 43);
    background: linear-gradient(87deg, rgba(237, 125, 43, 1) 100%, rgba(17, 58, 117, 1) 100%);
}

.main-txt h2 {
    font-family: poppins-bold;
    font-size: 60px;
    text-transform: capitalize;
    line-height: 75px;
    margin: 20px 0 0 0;
}

.blue {
    color: #1E76F5;
}

.col-50 img {
    width: 100%;
    padding: 0 0 0 85px;
}


.main-txt p {
    font-family: poppins;
    width: 99%;
    font-size: 20px;
    font-weight: 600;
}

.btn-2 button {
    color: white;
    background: rgb(115, 172, 255);
    background: linear-gradient(87deg, rgb(77 142 237) -1%, rgb(16 70 148) 100%);
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px 0;
    transition: all 200ms ease-in-out;
}

.btn-2 button:hover {
    background: rgb(237, 125, 43);
    background: linear-gradient(87deg, rgba(237, 125, 43, 1) 100%, rgba(17, 58, 117, 1) 100%);

}

.rect {
    width: 60%;
    background-color: #cfe2ff;
    border-radius: 15px;
    height: 140px;
    margin: 0 auto;
    display: flex;
}


.col-30 .box {
    width: 60px;
    height: 60px;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    display: flex;
    margin: 0 15px;
}

.main-box {
    font-family: poppins;
    margin: 0 0 0 50px;
}


.text h2 {
    color: #326DDD;
    text-transform: capitalize;
}

.text p {
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
}

.top {
    margin: 25px 0 35px 0;
}




/* -----------Section-1----------- */




.sec-1 {
    margin: 50px 0 0 0;
    background-color: #E4EFFD;
}

.about {
    display: flex;
    margin: 50px auto 0 auto;
    justify-content: space-between;
}

.abt-university {
    position: relative;
    top: 10px;
    left: 100px;
}

.abt-university img {
    width: 100%;
}

.qoute h3 {
    font-size: 50px;
    font-family: poppins;
}

.qoute h2 {
    font-size: 60px;
    font-family: poppins;
    font-weight: bold;
}

.orange {
    color: #FF735C;
}

.qoute {
    margin-left: auto;
    width: 54%;
    line-height: 65px;
}

.abt-university p {
    text-align: center;
    color: #FF735C;
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
}

div[class*="cards"] {
    display: flex;
}

.card-box {
    position: relative;
    bottom: 100px;
    right: 17px;
}

.card {
    height: 400px;
    width: 330px;
    border-radius: 10px;
    align-items: end;
    display: flex;
    color: white;
    margin: 0 20px;
    transition: all 300ms ease-in-out;
}


.cards-2 {
    margin: 40px 65px 0 0;
    padding: 0 50px 0 0;
}

.card h2 {
    margin: 10px 20px;
    font-family: poppins;
    text-transform: ;
}

.card:hover {
    transform: scale(1.05);
}

.class {
    background-image: url(../Images/classroom.png);
    background-position: center;
}

.library {
    background-image: url(../Images/library.png);
    background-position: center;
}

.campus {
    background-image: url(../Images/campus.png);
    background-position: center;
}

.convocation {
    background-image: url(../Images/convocation.png);
    background-position: center;
}

/* -----------section-2----------- */
.sec-2{
    background-color: #E4EFFD;
}

.programs h2{
    font-size: 50px;
}

.programs p{
    font-size: 20px;
    font-weight: 600;
    width: 50%;
    margin: 10px 0;
}

.degree{
    margin: 20px 0;
}

.degree ul li{
    display: inline-block;
    list-style: none;
}

.degree ul li a{
    text-decoration: none;
    color: #707070;
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 80px 0 0;
    transition: all 200ms ease-in-out;
}

.degree ul li a:hover{
    color: black;
}

.degree ul li a .bachelor:active{
    color: black;
}