@font-face {
    font-family: "poppins";
    src: url(../Fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(../Fonts/Poppins-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

li {
    list-style: none;
}

a {
    color: black;
}

body {
    background-color: #F7FBFE;
}

.align-ctr {
    align-items: center;
}

.txt_ctr {
    text-align: center;
}

.jsc-ctr {
    justify-content: center;
}

.jsc-btwn {
    justify-content: space-between;
}

.jsc-even {
    justify-content: space-evenly;
}

.jsc-arnd {
    justify-content: space-around;
}

.jsc-end {
    justify-content: end;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-50 {
    width: 50%;
}

.col-30 {
    width: 30%;
}


header {
    background-image: url(../Images/main\ bg.png);
    background-repeat: no-repeat;
    background-size: 58% 90%;
    background-position: center -65px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.logo h1 {
    font-family: poppins-bold;
    font-size: 30px;
    color: #FF735C;
    text-transform: uppercase;
}


.navbar li {
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-family: poppins;
    font-weight: 600;
    font-size: 20px;
    transition: all 100ms ease-in-out;
}

.navbar ul li a:hover {
    color: #1E76F5;
    /* font-size: 22px; */
    border-bottom: 2px solid #1E76F5;
}

.btn button {
    width: 100%;
    color: white;
    padding: 8px 30px;
    background: rgb(115, 172, 255);
    background: linear-gradient(87deg, rgb(77 142 237) -1%, rgb(16 70 148) 100%);
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 20px;
}

.btn button:hover {
    background: rgb(237, 125, 43);
    background: linear-gradient(87deg, rgba(237, 125, 43, 1) 100%, rgba(17, 58, 117, 1) 100%);
}

.main-txt h2 {
    font-family: poppins-bold;
    font-size: 60px;
    text-transform: capitalize;
    line-height: 75px;
    margin: 20px 0 0 0;
}

.blue {
    color: #1E76F5;
}

.col-50 .image img {
    width: 100%;
    padding: 0 0 0 85px;
}


.main-txt p {
    font-family: poppins;
    width: 99%;
    font-size: 20px;
    font-weight: 600;
}

.btn-2 button {
    color: white;
    background: rgb(115, 172, 255);
    background: linear-gradient(87deg, rgb(77 142 237) -1%, rgb(16 70 148) 100%);
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px 0;
    transition: all 200ms ease-in-out;
}

.btn-2 button:hover {
    background: rgb(237, 125, 43);
    background: linear-gradient(87deg, rgba(237, 125, 43, 1) 100%, rgba(17, 58, 117, 1) 100%);

}

.rect {
    width: 60%;
    background-color: #cfe2ff;
    border-radius: 15px;
    height: 140px;
    margin: 0 auto;
    display: flex;
}


.col-30 .box {
    width: 60px;
    height: 60px;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    display: flex;
    margin: 0 15px;
}

.main-box {
    font-family: poppins;
    margin: 0 0 0 50px;
}


.text h2 {
    color: #326DDD;
    text-transform: capitalize;
}

.text p {
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
}

.heder {
    padding: 20px 0;
    /* margin: 25px 0 35px 0; */
}




/* -----------Section-1----------- */




.sec-1 {
    margin: 50px 0 0 0;
    background-color: #E4EFFD;
}

.sec-1 .about {
    display: flex;
    margin: 50px auto 0 auto;
    justify-content: space-between;
}

.abt-university {
    position: relative;
    top: 10px;
    left: 100px;
}

.abt-university img {
    width: 100%;
}

.qoute h3 {
    font-size: 50px;
    font-family: poppins;
}

.qoute h2 {
    font-size: 60px;
    font-family: poppins;
    font-weight: bold;
}

.orange {
    color: #FF735C;
}

.qoute {
    margin-left: auto;
    width: 54%;
    line-height: 65px;
}

.abt-university p {
    text-align: center;
    color: #FF735C;
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
}

div[class*="cards"] {
    display: flex;
}

.card-box {
    position: relative;
    bottom: 100px;
    right: 17px;
}

.card {
    height: 400px;
    width: 330px;
    border-radius: 10px;
    align-items: end;
    display: flex;
    color: white;
    margin: 0 20px;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    position: relative;
}

.card img {
    width: 100%;
    display: block;
    transition: all .3s ease-in-out;
}

.card img:hover {
    transform: scale(1.1);
}

.card h2 {
    position: absolute;
    bottom: 5px;
    left: 10px;
    z-index: 1;
}

.cards-2 {
    margin: 40px 65px 0 0;
    padding: 0 50px 0 0;
}

.card h2 {
    margin: 10px 20px;
    font-family: poppins;
    /* text-transform: ; */
}




/* -----------section-2----------- */
.sec-2 {
    background-color: #E4EFFD;
}

.academic-programs {
    width: 85%;
    margin: 0 auto;
}

.programs h2 {
    font-size: 50px;
}

.programs p {
    font-size: 20px;
    width: 50%;
    margin: 10px 0;
}

.degree {
    margin: 20px 0;
}

.degree ul li {
    display: inline-block;
    list-style: none;
}

.degree ul li a {
    text-decoration: none;
    color: #a0a0a0;
    font-size: 25px;
    text-transform: capitalize;
    margin: 0 80px 0 0;
    transition: all 200ms ease-in-out;
}

.degree a:hover {
    color: black;
}

.bachelor:visited {
    color: black;
}

.box .sqr {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

.wrap {
    width: 80%;
    margin: 35px auto;
}

.wrap p {
    font-size: 20px;
    line-height: 25px;
}

.sqr:hover {
    color: white !important;
    background-color: black;

}

.sqr:hover a {
    color: white;
    background-color: black;
    border: 1px solid #fff !important;
}

.box .sqr a {
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: 600;

}

.links {
    align-items: center;
    display: flex;
    position: relative;
    top: 90px;
    transform: translate(0, 80%);
}

/* ----------section-3---------- */

.sec-3 {
    background-color: #E4EFFD;
    padding: 0 0 50px 0;
}

.crs-wrap {
    width: 85%;
    margin: 0 auto;
    padding: 90px 0 0 0;
}

.course {
    margin: 50px 0 0 0;
}

.view-all button {
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: rgb(115, 172, 255);
    background: linear-gradient(87deg, rgb(77 142 237) -1%, rgb(16 70 148) 100%);
    color: white;
}

.view-all i {
    margin: 0 0 0 5px;
}

.courses {
    display: flex;
    flex-wrap: wrap;
}

.crs-box {
    background-color: #1e78f51c;
    height: 300px;
    width: 300px;
    border-radius: 15px;
    margin: 25px 0 0 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.138);
}

.course-heading h2 {
    font-size: 28px;
}

.c-image {
    margin: 0 auto;
}

.c-image img {
    width: 100%;
    aspect-ratio: 5/3;
    object-fit: contain;
}

.crs-btn button {
    background-color: #7db2ff82;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
}

.crs-details {
    width: 90%;
    margin: 0 auto;
}

.crs-details h2 {
    font-size: 14px;
    line-height: 40px;
}

.crs-details p {
    font-size: 10px;
    font-weight: 600;

}

.circle {
    height: 35px;
    width: 35px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-blue {
    background-color: #a5cafed6;
    color: #006EF5;
}

.circle-yellow {
    background-color: #ffcb3c52;
    color: #ffaa1b;
}

.circle-red {
    background-color: #ff000030;
    color: #FE0000;
}

/* --------section-4-------- */

.sec-4 {
    background-color: #20465A;
}

.sec-4 .faculty {
    padding: 50px 0 0 0;
    width: 80%;
    margin: 0 auto;
}

.sec-1 .faculty h1 {
    font-size: 60px;
    width: 60%;
    text-align: right;
    line-height: 70px;
}

.sec-1 .faculty p {
    font-size: 20px;
}

.fac-image {
    height: 350px;
    width: 750px;
    border-radius: 10px;
    overflow: hidden;
}

.fac-image img {
    width: 100%;
    display: block;
    transition: all .3s ease-in-out;
}

.fac-image img:hover {
    transform: scale(1.05);
}

.fac-text-box {
    height: 350px;
    width: 320px;
    background-color: #003553;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.fac-text-box:hover {
    background-color: #0000005e;
}

.fac-text {
    width: 90%;
    margin: 0 auto;
    color: white;
}

.fac-text button {
    padding: 3px 15px;
    border-radius: 20px;
    border: none;
    margin: 20px 0 10px 0
}

.fac-text h3 {
    font-size: 14px;
    padding: 65px 0 0 0;
    font-weight: normal;
}

.fac-text h2 {
    font-size: 26px;
}

.see-faculty i {
    transform: rotate(45deg);
    margin: 0 0 0 15px;
}

.see-faculty button {
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin: 40px 0;
    text-transform: capitalize;
    transition: all .2s ease-in-out;
}

.see-faculty button:hover {
    background-color: #0000005e;
    border: 2px solid #00000000;
}

/* -----------section-5---------- */

.sec-5 {
    background-color: #20465A;
    padding: 50px;
}

.sec-5 .row h1 {
    font-size: 60px;
    color: white;
    width: 30%;
    line-height: 70px;
}

.col-100 .row p {
    width: 40%;
    margin: 60px 0 30px 0;
    padding-top: 63px;
    color: white;
}


.image img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.image {
    width: 100%;
}

.rsrch-text {
    color: white;
}

.rsrch-text h2 {
    margin: 10px 0;
}

.rsrch-text p {
    padding: 10px 0;
}

/* ---------------section-6---------------- */

.sec-6 {
    background-color: black;
}

.col-40 {
    width: 40%;
}

.sec6-text1 {
    color: white;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 70px;
    margin: 90px 40px;
}

.sec6-text1 .right {
    margin: 0 0 0 60px;
}

.student-card {
    background-color: white;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 10px;
}

.sec6-text2 p {
    font-size: 15px;
}


.student-details {
    margin: 90px 0 0px 0;
    align-items: center;
    line-height: 16px;
}

.student-details .photo {
    width: 20%;
}

.student-details .photo img {
    width: 100%;
    border-radius: 40px;
}

.student-details .name {
    margin: 0 0 0 15px;
    text-transform: capitalize;
}

.student-details .name h2 {
    font-size: 15px;
}

.student-details .name p {
    font-size: 12px;
}

/* ----------footer----------- */

footer {
    background-color: black;
    line-height: 40px;
}

.footer-wrap {
    width: 80%;
    margin: 0 auto;
    padding: 80px 0;
    /* padding: 70px 0 50px 0; */
    /* border-bottom: 1px solid gray; */
}

footer a {
    color: white;
    text-decoration: none;
}

.col-20 {
    width: 20%;
}

footer .col-20 h2 {
    color: red;
}

.buttons button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 25px;
    transition: all .2s ease-in-out;
}

.hr {
    width: 92%;
    color: gray;
}

.buttons button:hover {
    background-color: red;
    border: 2px solid transparent;
}

.buttons .applying {
    padding: 10px 34px;
    margin: 10px 0 0 0;
}

.buttons .scholarship {
    padding: 10px 25px;
    margin: 23px 0;
}

.buttons .career {
    padding: 10px 41px;
}

.col_100 {
    width: 100%;
}

.copyright_sec {

    text-align: center;
}

.copyright_sec ul li {
    display: inline-block;
}