@font-face {
    font-family: inter;
    src: url(../Fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: inter_light;
    src: url(../Fonts/Inter-Light-BETA.ttf);
}


@font-face {
    font-family: inter_bold;
    src: url(../Fonts/Inter-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

.txt_cap {
    text-transform: capitalize;
}

.col_60 {
    width: 100%;
}

.col_50 {
    width: 100%;
}

.col_40 {
    width: 100%;
}

.col_30 {
    width: 100%;
}

.col_15 {
    width: 50%;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

.gap_20 {
    gap: 20px;
}

.d_flex {
    display: flex;
}

.align_center {
    align-items: center;
}

.justify_spc_btwn {
    justify-content: space-between;
}

.justify_center {
    justify-content: center;
}

.justify_even {
    justify-content: space-evenly;
}

.col_revrse {
    flex-direction: column-reverse;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    line-height: 90px;
    background: linear-gradient(0deg, #E7EFFA 0%, rgba(255, 255, 255, 0.00) 100%);
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.navbar li {
    display: inline-block;
}

.navbar li a {
    padding: 0 20px;
    color: black;
    font-weight: 600;
}


.navbar li a:hover {
    color: #4335DE;
}

.navbar .btn {
    padding: 10px 15px;
    margin: 0 0 0 50px;
    border-radius: 25px;
    background-color: #4335DE;
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

/* --------sec-1--------- */

.sec_1 {
    background-color: #F3F8FF;
    /* background-image: url(../Images/bg-circle.png);
    background-size: 80%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: -133% 9%;
    background-position: -64% -4%; */
    padding: 25px 0;
}

.sec_1 .bg {
    display: flex;
}

.sec_1 .row {
    flex-direction: column-reverse;
}

.sec_1_text {
    /* margin-left: 85px;
    padding-left: 88px; */
    padding: 0 20px;
    margin-top: 25px;
}


.col_50 .image {
    width: 26%;
    /* margin: 0 0 95px 80px; */
}

.sec_1 h1 {
    /* font-size: 60px; */
    font-size: 40px;
    color: #02033B;
}

.sec_1_para {
    font-size: 20px;
    /* margin: 50px 0 80px 0; */
    margin: 30px 0;
}

.main_button {
    /* padding: 15px 30px; */
    padding: 10px;
    border-radius: 30px;
    /* font-size: 18px; */
    font-size: 10px;
    transition: all .2s ease-in-out;
}

.main_button:hover {
    box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.10);
}

.main_button_1 {
    /* margin: 0 0 0 50px; */
}

.yellow_btn {
    background-color: #FFC247;
    border: 2px solid #FFC247;
}

.border_btn {
    background-color: transparent;
    border: 2px solid;
}

.main_button a {
    font-weight: 600;
    color: black;
    text-transform: capitalize;
}

.sec_1 .btn_1 i {
    margin: 0 0 0 8px;
}


/* .bg {
    border-top: 25px solid blue;
    border-left: 25px solid blue;
    background-image: url(../Images/bg\ photo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
    padding: 70px 0;
} */

.txt li {
    padding: 10px 0;
    color: #02033B;
    font-weight: 600;
}

/* --------------------section-2--------------- */

.sec_2 {
    background: linear-gradient(180deg, #F7C95F 0%, #FDB235 100%);
    padding: 20px 0;
}

.section_2 {
    width: 90%;
    margin: 0 auto;
}

.sec_2_text_1 h2 {
    /* font-size: 36px; */
    font-size: 25px;
    /* width: 40%; */
    /* padding: 50px 0; */
    /* padding: 20px 0; */
    font-family: inter_bold;
    color: #02033B;
    text-align: center;
}

.stars li {
    display: inline-block;
    color: rgba(255, 194, 71, 1);
}


.sec_2 .box {
    background-color: white;
    border-radius: 25px;
    box-shadow: 12px 12px 20px 0px rgba(0, 0, 0, 0.10);
    margin-top: 20px;
}

.box_content {
    padding: 30px 30px 50px 30px;
}

.sec_2_text_2 {
    padding: 20px 0;
}

.featured h2 {
    text-align: center;
    margin-top: 20px;
}

.img_box {
    /* padding: 50px 0; */
}

.img_box img {
    /* width: 70%; */
    /* margin-left: 50px; */
    width: 50%;
    margin: 15px 48px;
}

.name h4 {
    text-transform: capitalize;
}

/* -----------section-3---------------- */

.border {
    border: 2px solid;
}

.sec_3 .row {
    flex-direction: column-reverse;
}

.section_3 {
    /* width: 77%; */
    width: 90%;
    margin: 0 auto;
    /* padding: 70px 0; */
    padding: 30px 0;
}

.bg_yellow img {
    border-top: 8px solid #FFC247;
    border-bottom: 8px solid #FFC247;
    border-right: 15px solid #FFC247;
}

/* .bg_yellow::after {
    content: "";
    background-color: #FDB235;
    width: 102%;
    height: 103%;
    position: absolute;
    top: -7px;
    left: 10px;
    z-index: -1;
} */

.sec_3_text_1 {
    text-align: center;
    margin-top: 30px;
}

.sec_3_text_1 h2 {
    /* font-size: 36px; */
    font-size: 25px;
    font-family: inter_bold;
    color: #02033B;
}


.sec_3_text_1 p {
    font-size: 20px;
    /* padding: 50px 0 58px 0; */
    padding: 20px 0;
}

.sec_2_btns {
    display: flex;
    justify-content: space-between;
}

/* 
.sec_3 .border_btn {
    margin-top: 30px;
} */

/* --------------section-4-------------- */

.sec_4 {
    /* padding: 70px 0; */
    padding: 30px 30px;
    background: linear-gradient(180deg, #F3F8FF 0%, #E7EFFA 100%);
}

.sec_4_txt_1 {
    /* width: 50%; */
    margin: 0 auto;
}

.sec_4_txt_1 h2 {
    text-align: center;
    /* margin: 0 0 50px 0; */
    margin-bottom: 30px;
    /* font-size: 36px; */
    font-size: 25px;
    font-family: inter_bold;
    color: #02033B;
}

.center_box {
    background-color: white;
    /* width: 55%; */
    margin: 0 auto;
    border-radius: 20px;
    /* padding: 60px 0; */
    padding: 30px 0;
    box-shadow: 12px 12px 20px 0px rgba(0, 0, 0, 0.10);


}

.sec_4_img {
    width: 25%;
    margin: 0 auto;
}

.sec_4_txt {
    text-align: center;
    padding: 20px 0;
}

.sec_4_txt h2 {
    font-size: 19px;
}

.sec_4_txt p {
    padding: 30px 36px;
}

.sec_4_buttons {
    display: flex;
    justify-content: space-around;
}

/* -----------section-5-------------- */

.sec_5 {
    /* padding: 80px 0; */
    padding: 30px 0;
}

.sec_5_txt {
    width: 90%;
    margin: 0 auto;
}

.sec_5_text_1 {
    border-radius: 30px;
    padding: 25px;
    background: linear-gradient(180deg, #F7C95F 0%, #FDB235 100%);
}

.sec_5_text_1 button {
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #4335DE;
}

.sec_5_text_1 button i {
    margin: 0 5px;
}

.sec_5_text_1 button a {
    color: white;
    font-family: inter_bold;
}


.sec_5_text_2 {
    /* padding: 40px 7.8em; */
    margin-top: 20px;
    text-align: center;
}

.sec_5_text_1 p {
    padding: 25px 0 40px 0;
}

.sec_5_text_2 p {
    padding: 25px 0 40px 0;
}

.sec_5_text_2 button {
    padding: 10px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid;
}

.sec_5_text_2 button a {
    color: black;
    font-family: inter_bold;
}

/* ------------section_6------------- */

.sec_6 {
    padding: 80px 0;
    background: linear-gradient(180deg, #2925CC 0%, #4B48E5 100%);
}

.sec_6_txt_1 {
    text-align: center;
    color: white;
}

.sec_6_txt_1 h2 {
    font-size: 34px;
}

.sec_6_txt_1 p {
    /* padding: 50px 0; */
    margin: 30px 0;
    font-size: 18px;
}

.sec_6_buttons {
    /* margin: 0 10px; */
    display: flex;
    justify-content: space-around;
}

.sec_6_txt_1 .border_btn {
    color: white;
}

.sec_6_txt_1 .border_btn a {
    color: white;
}

/* ------------section-8---------------- */

.sec_8 {
    /* padding: 80px 0; */
    padding: 20px 0;
    background-color: #F3F8FF;
}

.posi_rel {
    position: relative;
}

.posi_abs {
    position: absolute;
}

.section_8 {
    /* width: 70%; */
    width: 85%;
    margin: 0 auto;
}

.sec_8_txt h2 {
    /* font-size: 56px; */
    font-size: 25px;
    color: #02033B;
    text-align: center;
    /* padding-bottom: 70px; */
}

.sec_8_box {
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 20px;
}

.sec_8_box button {
    padding: 12px 20px;
    color: #02033B;
    background-color: #F3F8FF;
    border: none;
    border-radius: 20px;
    top: 25px;
    left: 25px;
    font-size: 15px;
    font-weight: 800;
}

.sec_8_box_txt {
    /* padding: 40px 50px; */
    padding: 20px;
    color: #02033B;
}

.sec_8_box_txt p {
    padding-top: 30px;
    font-size: 15px;
}

/* ---------------footer----------------/ */

footer {
    background-color: #02033B;
}

footer .row {
    flex-direction: column-reverse;
}

.footer_txt {
    /* width: 70%; */
    width: 90%;
    margin: 0 auto;
    color: white;
    /* padding: 100px 0; */
    padding: 30px 0;
}

.certo {
    /* margin: 0 0 0 70px; */
}

.certo h2 {
    font-size: 35px;
    /* padding-bottom: 20px; */
    text-transform: capitalize;
}

.certo h2::after {
    content: "";
    width: 20px;
    height: 2px;
    color: #02033B;
    display: block;
}

.tools {
    /* margin: 30px 0; */
}

.tools li {
    list-style: none;
    padding: 13px 0;
    color: #FFC247;
    display: inline-block;
}

.tools li a {
    color: #FFC247;
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px 0 0;

}

/* .tools li::before {
    content: "\2014";
    padding-right: 30px;
    font-weight: 600;
} */

.font_11 {
    font-size: 11px;
    font-family: inter_light;
}

.footer_txt h2 {
    font-size: 23px;
}

.certo h2 {
    font-size: 35px;
}

.footer_txt .social li {
    display: inline-block;
    margin: 0 40px 0 0;
}

.footer_txt .social li i {
    color: #fff;
}

.footer_txt_1 {
    margin: 40px 0;
}

.footer_txt_1 a {
    color: white;
    padding-right: 15px;
    text-decoration: underline;
}

.developer {
    margin: 20px 0;
}

.col_60>h2 {
    padding-bottom: 40px;
}

.signup_card {
    background-color: #FFC247;
    background-image: url(../Images/signup.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    /* width: 80%; */
    border-radius: 25px;
    padding: 30px 26px;
    color: #02033B;
}

.signup_card p {
    font-size: 15px;
    padding: 30px 0;
}

.signup_card h2 {
    font-family: inter_bold;
    font-size: 23px;
}


.input :nth-child(1) {
    /* padding: 9px 90px 9px 15px; */
    padding: 10px;
    border: none;
    border-radius: 20px;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.input {
    /* width: 10%; */
    /* margin: 0 auto; */
}

.input .submit {
    /* padding: 5px 10px; */
    padding: 10px 20px;
    border: none;
    background-color: #02033B;
    color: #fff;
    border-radius: 20px;
    display: block;
    width: 50%;
    margin: 20px auto 0 auto;
    text-align: center;
}

.blank {
    display: none;
    width: 60%;
    background-color: #fff;
    margin-left: auto;
    border-radius: 12px;
    padding: 50px;
    margin-top: 100px;
    transform: translateY(51px);
}

.sec_4 .main_button {
    display: block;
}

.footer_txt_4 {
    /* padding-top: 100px; */
    margin: 20px 0;
}


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .col_15 {
        width: 30%;
    }

    footer .col_50 {
        width: 50%;
    }

    .sec_5 .col_30 {
        width: 50%;
    }

    .sec_4 .col_30 {
        width: 50%;
    }

    .sec_2_btns {
        display: flex;
        justify-content: space-around;
    }

    .img_box img {
        width: 70%;
        margin: 15px 30px;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
    }

    .sec_1_text {
        padding: 0 27px;
        margin-top: 25px;
    }

    .section_2 {
        width: 85%;
        margin: 0 auto;
    }

    .main_button {
        padding: 15px 30px;
        font-size: 14px;
    }

    footer .row {
        flex-direction: row;
    }

    .sec_3_text_1 p {
        padding: 40px 0;
    }

    .sec_5_txt {
        width: 85%;
    }

    .footer_txt_4 {
        position: absolute;
        right: 0px;
        bottom: 25px;
        width: 40%;
        margin: 0;
    }

    .signup_card {
        padding: 20px;
    }

    .txt li {
        padding: 40px 0;
    }

    .bg_yellow {
        width: 60%;
        margin: 0 auto;
    }

    /* .sec_5 button {
        padding: 10px;
    }
} */

    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }

        .col_60 {
            width: 100%;
        }

        .col_15 {
            width: 15%;
        }

        .col_30 {
            width: 32%;
        }

        .sec_4 .col_30 {
            width: 30%;
        }

        .sec_4 .row {
            justify-content: space-around;
        }

        .sec_4_txt p {
            padding: 30px 18px;
        }

        .sec_1 .col_50.bg {
            display: flex;
        }

        .bg .image {
            width: 25%;
        }

        .sec_1 .bg {
            display: block;
        }

        .sec_1_text {
            margin: 0;
            text-align: center;
        }

        .sec_4_txt p {
            padding: 30px 18px;
        }

        .sec_8_txt h2 {
            font-size: 35px;
        }

        .bg_yellow {
            width: 50%;
            margin: 0 auto;
        }

        .txt li {
            font-size: 20px;
        }

        .box_content {
            padding: 12px 12px 20px 12px;
        }

        .sec_8_box_txt h2 {
            font-size: 20px;
        }

        .sec_8_box_txt {
            padding: 15px;
        }

        .sec_8_box button {
            padding: 6px 10px;
            top: 10px;
            left: 10px;
            font-size: 10px;
        }

        .stars {
            font-size: 10px;
        }

        .sec_2_text_2 p {
            font-size: 15px;
        }

        .name h4 {
            font-size: 15px;
        }

        .section_2,
        .section_8 {
            width: 90%;
            margin: 0 auto;
        }

    }

    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }

        .col_60 {
            width: 60%;
        }

        .col_50 {
            width: 50%;
        }

        .col_40 {
            width: 40%;
        }

        .col_30 {
            width: 30%;
        }

        .col_15 {
            width: 15%;
        }

        .sec_1 .row,
        .sec_3 .row {
            flex-direction: row;
        }

        .sec_2_text_1 h2 {
            width: 60%;
            text-align: left;
            font-size: 36px;
            padding: 30px 0;
        }

        .main_button {
            padding: 12px;
        }

        .sec_3_text_1 {
            text-align: left;
        }

        .center_box {
            width: 80%;
        }

        .box_content {
            padding: 20px;
        }

        .bg_yellow {
            margin: 0;
        }

        .sec_8_box_txt {
            padding: 25px;
        }

        .sec_5_txt {
            width: 75%;
        }

        .txt {
            display: none;
        }

        .bg {
            border-top: 25px solid blue;
            border-left: 25px solid blue;
            background-image: url(../Images/bg\ photo.png);
            background-size: cover;
            background-repeat: no-repeat;
            /* margin-top: 70px; */
            padding: 70px 0;
        }

        .sec_1 .col_50.bg {
            display: block;
        }

        .sec_5_text_1,
        .sec_5_text_2 {
            padding: 40px;
        }

    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }

        .col_60 {
            width: 60%;
        }

        .col_50 {
            width: 50%;
        }

        .col_40 {
            width: 40%;
        }

        .col_30 {
            width: 30%;
        }

        .col_15 {
            width: 15%;
        }
    }


    @media (min-width: 1400px) {
        .container {
            max-width: 1320px;
        }

        .col_60 {
            width: 100%;
        }

        .col_50 {
            width: 100%;
        }

        .col_40 {
            width: 100%;
        }

        .col_30 {
            width: 100%;
        }

        .col_15 {
            width: 50%;
        }
    }