*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    height: 600px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'p1 img1 p2 img2'
    'img3 p3 img4 p4';
}

.col-1{
    background-color: #ffc845;
    grid-area: p1;
}

.col-2{
    grid-area: img1;
}

.col-3{
    grid-area: p2;
    background-color: #f85a40;
}

.col-4{
    grid-area: img2;
}

.col-5{
    grid-area: img3;
}

.col-6{
    background-color: #0cb9c1;
    grid-area: p3;
}

.col-7{
    grid-area: img4;
}

.col-8{
    background-color: #f48924;
    grid-area: p4;
}

.col{
    color: white;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap{
    margin: 100px 25px;
}

p{
    padding: 20px 0;
}

i{
    color: black;
}

@media(max-width:800px){
    .container{
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'img1'
        'p1'
        'img2'
        'p2'
        'img3'
        'p3'
        'img4'
        'p4';
    }

    .wrap{
        margin: 15px 0;
    }
}